<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FromZer0 지원서</title>
    <style>
        .container{
            padding-top: 2rem;
            margin: 0;
            margin-bottom: 2rem !important;
            font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Nanum Gothic', Helvetica, arial, sans-serif;
            width: 100%;
        }
        .content-area {
            max-width: 680px;
            padding: .75rem;
            margin: 0 auto;
            width: 100%;
        }
    </style>
</head>
<body class="container">
<table class="content-area">
    <thead>
    <tr>
        <td style="vertical-align:top; padding-bottom: 2rem">
            <p style="font-size: 1.25rem; font-weight: 500; color: #3B82F6">FromZer0</p>
            <h1 style="font-weight:800; font-size: 1.5rem; line-height: 2rem; margin: 0;" class="font-extrabold text-2xl">{{name}} 지원자님,<br>소중한 지원서를 보내드러요!</h1>
            <p style="margin-top: .75rem; font-size: 1rem; margin-bottom: 0; color: #1e293b;">학술적 열정과 관심으로 FromZer0에 관심가져주셔서 감사합니다.</p>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="vertical-align:top; padding-bottom: 2rem">
            <div style="vertical-align:top; background-color: #F3F4F6; border-radius: .75rem; padding: 0.5rem 1.5rem;">
                <table style="text-indent: 0; border-color: inherit; border-collapse: collapse; table-layout: auto; width: 100%;">
                    <thead>
                    <tr style="border-style: solid; border-width: 0 0 1px 0; border-color: #6B7280; font-weight:800;">
                        <th style="padding: 0.75rem 0; width: 33.333333%; text-align: left">항목</th>
                        <th style="padding: 0.75rem 0; width: 66.666667%; text-align: right">값</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="border-style: solid; border-width: 0 0 1px 0; border-color: #D1D5DB;">
                        <td style="padding: 0.75rem 0;">이름</td>
                        <td style="padding: 0.75rem 0; text-align: right;">{{name}}</td>
                    </tr>
                    <tr style="border-style: solid; border-width: 0 0 1px 0; border-color: #D1D5DB;">
                        <td style="padding: 0.75rem 0;">학번</td>
                        <td style="padding: 0.75rem 0; text-align: right;">{{studentId}}</td>
                    </tr>
                    <tr>
                        <td style="padding: 0.75rem 0;">지원 IP</td>
                        <td style="padding: 0.75rem 0; text-align: right;">{{requestedIp}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top; padding-bottom: .5rem;">
            <a style="background-color: #1e293b; font-size: 1rem; border-radius: .75rem; padding: .9rem; display: block; color: #f1f5f9; font-weight: 600; text-align: center; text-decoration: none;"
               href="{{link}}">지원서 작성하러 가기 →</a>
        </td>
    </tr>
    <tr>
        <td style="vertical-align:top; padding-bottom: 2rem; color: #6B7280; text-align: center;">
            <div style="margin: 1rem 0 2rem 0;">
                <p style="margin-bottom: .5rem;">지원서에 인증하시면 해당 IP에서만 지원서 작성이 가능하니<br/>지원에 참고하시기 바랍니다.</p>
            </div>
            <p style="text-transform: uppercase; color: #cbd5e1; font-weight: lighter; letter-spacing: 10px; margin: 1rem 0;">the zer0base creation</p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
